body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px;
    width: 90%;
    row-gap: 20px;
    column-gap: 5%;
}

header {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: #1B1B22;
    font-weight: 700;
    font-size: 18px;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
}

#quote-container {
    text-align: left;
    width: 50%;
}

#quote {
    font-size: 54px;
    color: #1B1B22;
    line-height: 1.5;
    font-weight: 700;
}

#calendar-container {
    width: 50%;
    flex: 1;
    padding: 20px;
    text-align: center;
}

#calendar-container h2 {
    font-size: 32px;
    color: #1B1B22;
    margin-bottom: 20px;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#year-display {
    text-align: center;
}

#month-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#year,
#month-name {
    font-size: 28px;
    font-weight: bold;
}

#month-name {
    margin: 0 20px;
    width: 150px;
}

button {
    padding: 8px 10px;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #f85c1c;
    border: 1px solid #f85c1c;
    border-radius: 30px;
}

/* Calendar Grid Styles */
#calendar {
    width: 100%;
    /* height: 350px; */
    display: flex;
    flex-direction: column;
}

.calendar-header-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    margin-bottom: 1px;
}

.calendar-header-cell {
    padding: 15px;
    text-align: center;
    background-color: #f85c1c;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    flex: 1;
}

.calendar-day {
    padding: 15px;
    text-align: center;
    color: #1B1B22;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #f85c1c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 60px;
}

.calendar-day.today {
    background-color: #f85c1c;
    color: #fff;
    font-weight: bold;
}

.calendar-day.empty {
    background-color: transparent;
    /* border: none; */
}

.event {
    background-color: #f85c1c;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.calendar-day.today .event {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}
.calendar-day.overflow-day {
    /* background-color: #f0f0f0;
    opacity: 0.8; */
}