/* General Body and Page Styling */
body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
}

header {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #1B1B22;
    font-weight: 400;
    font-size: 16px;
    margin: 0 32px;
    transition: all 0.3s ease
}

header a:hover {
    text-decoration: underline;
    color: #f85c1c;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

footer {
    width: 100%;
    margin-top: 20px;
}

#quote-container {
    text-align: left;
    width: 60%;
    margin-right: 50px;
}

#quote {
    font-size: 54px;
    color: #1B1B22;
    line-height: 1.5;
    font-weight: 700;
    animation: fadeIn 2s ease-in;
}

#news-container {
    display: flex;
    gap: 16px;
    align-items: baseline;
}

#daily-news {
    color: #1B1B22;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

#news-container h3 {
    font-size: 18px;
    color: #f85c1c;
    font-weight: 700;
}

#calendar-container {
    text-align: center;
    box-shadow: 8px 8px 0px 0px #1B1B22;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid #1B1B22;
    width: 40%;
}

#year,
#calendar-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #F85C1B;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-top: 1px solid #E4E6E799;
    border-bottom: 1px solid #E4E6E799;
    padding: 16px;
}

#month-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#month-name {
    font-size: 16px;
    font-weight: 600;
}

#calendar-header button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffffff;
    color: #f85c1c;
    border: 1px solid #E4E6E799;
    border-radius: 6px;
    box-shadow: 0px 1px 5px -1px #110C221A;
    line-height: 0;
}

#calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.calendar-header-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    margin-bottom: 1px;
}

.calendar-header-cell {
    text-align: center;
    color: #1B1B22;
    font-weight: 600;
    font-size: 14px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    flex: 1;
    margin-bottom: 10px;
}

.calendar-grid div span,
.calendar-grid div .event {
    animation: fadeIn 1s ease-in;
}

.calendar-day {
    text-align: center;
    color: #1B1B22;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 500;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    margin: 8px;
}

.calendar-day.today {
    background-color: #f85c1c;
    color: #fff;
    font-weight: 600;
}

.calendar-day.empty {
    background-color: transparent !important;
}

.event {
    background-color: #f85c1c;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.calendar-day.today .event {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.calendar-day:hover {
    background-color: rgba(248, 92, 28, 0.1);
}

.calendar-day.today:hover {
    background-color: #f85c1c;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.today-event-section p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #F85C1B;
    text-align: left;
}

.today-event-section li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: #1B1B22;
}

.today-event-section {
    padding: 8px 16px;
    border-top: 1px solid #F4F4F5;
}

#main-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.calendar-day.has-event::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color: #f85c1c;
}

.calendar-day.has-event:hover {
    background-color: #ffeae2;
    cursor: pointer;
}

.event-tooltip {
    position: absolute;
    background: #f85c1c;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    z-index: 1000;
    max-width: 200px;
    word-wrap: break-word;
    display: none;
    box-shadow: 2px 2px 0 0 #1B1B22;
}